body {
  font-family: arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("fond tétris.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  animation: pulse-bg 1.5s infinite alternate ease-in-out;
}

@keyframes pulse-bg {
  0% {
    background-size: 100%;
    opacity: 0.8;
  }
  100% {
    background-size: 110%;
    opacity: 1;
  }
}

#game-container {
  border: 2px solid #333;
  padding: 10px;
}

pre {
  font-size: 18px;
  line-height: 1.2;
}
